# ROS
build/
devel/
logs/
install/
log/
.catkin_tools/

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# ROS bags
*.bag

# OS
.DS_Store
docker/.env
#rl outputs
models/
videos/
tensorboard/
.ipynb_checkpoints/
